<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <div class="headerdiv">
        <header class="header1 lead">
        <img class="img" src="https://static.vecteezy.com/system/resources/previews/012/377/746/original/clean-energy-icon-sign-symbol-png.png" alt="logo">
        Energy Watch
        <img class="imgUT" src="https://www.utwente.nl/logo-stacked.png" alt="UT logo">
        </header>
        <div>
        <button onclick="goHome()" class="myButton">Home
        <script>
            function goHome() {
                $.ajax({
                    type: 'GET',
                    url: '/',
                    success: function(response) {
                        document.location.href="/";
                    }
                });
            }
        </script>
        </button>
    </div>
    </div>
    <div class="row" style="padding-top: 150px">
        <div class="column">
            <h1 class="analysisHeader" id="analysisHeader"></h1>
            <img id="stackplot">
            <img style="padding-left: 110px; padding-bottom: 50px" id="pie">
        </div>
        <div class="column">
            <h1 class="analysisHeader">Analysis: <var id="filename"></var></h1>
            <img id="bar">
            <div style="padding-top: 50px" class="instructionText">
                The following appliance(s) are responsible for more than 20% of your total energy consumption. It is recommended to have an inspection, or replace them with more energy alternatives.
            </div>
            <div class="tablediv">
                <table id="table" class="table">
                  <tr>
                    <th>Appliance</th>
                    <th>Share of total consumption (%)</th>
                  </tr>
                </table>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
            <script>
                const data = JSON.parse('{{ data | safe }}')
                const file = data["file"];
                const plotpath_stack = data["plotpath_stack"];
                const plotpath_pie = data["plotpath_pie"];
                const plotpath_bar = data["plotpath_bar"];
                const high_consumption_appliances = data["high_consumption_appliances"];
                document.getElementById("stackplot").src = plotpath_stack;
                document.getElementById("pie").src = plotpath_pie;
                document.getElementById("bar").src = plotpath_bar;
                document.getElementById("analysisHeader").innerHTML = 'Energy consumption overview: ' + file
                for (var i = 0; i < high_consumption_appliances.length; i++) {
                  document.getElementById('table').innerHTML += "<tr><td>"+high_consumption_appliances[i].appliance+"</td><td>"+high_consumption_appliances[i].share+"</td></tr>"
                };
            </script>
    </div>
  <footer class="footer">
    <p class="centered">© Sustainable Energy Behavior Group 2, 2023</p>
  </footer>
</body>
<style>
@import url('https://fonts.cdnfonts.com/css/space-grotesk');
</style>
</html>