<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <header class="header1 display-1">
        <img class="img" src="https://static.vecteezy.com/system/resources/previews/012/377/746/original/clean-energy-icon-sign-symbol-png.png" alt="logo">
        Energy Watch
    </header>
        <!-- todo connect backend data -->
        <div>
            <button onclick="goHome()">Go Home</button>
            <h1>Energy consumption overview</h1>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
            <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
            <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
            <script>
                const xValues1 = [50,60,70,80,90,100,110,120,130,140,150];
                const xValues2 = [50,60,70,80,90,100,110,120,130,140,150];
                const yValues1 = [7,8,8,9,9,9,10,11,14,14,15];
                const yValues2 = [43,66,34,76,12,43,76,44,99,333,122];
                new Chart("myChart", {
                  type: "line",
                  data: {
                    labels: xValues1,
                    datasets: [{
                      label: "phase 1 power",
                      backgroundColor:"#00693E",
                      borderColor: "#00693E",
                      data: yValues1
                    }]
                  },
                  options: {
                    plugins: {
                        legend: {
                            display: true,
                            labels: {
                                real_power: '#00693E'
                            }
                        }
                        }
                    }
                });
                new Chart("myChart2", {
                  type: "line",
                  data: {
                    labels: xValues2,
                    datasets: [{
                      label: "phase 2 power",
                      backgroundColor:"#32C60C",
                      borderColor: "#32C60C",
                      data: yValues2
                    }]
                  },
                  options: {
                    plugins: {
                        legend: {
                            display: true,
                            labels: {
                                real_power: '#32C60C'
                            }
                        }
                        }
                    }
                });
            </script>
        </div>
  <footer class="footer">
    <p class="centered">© Sustainable Energy Behavior Group 2, 2023</p>
  </footer>
</body>
<script>
    function goHome() {
        $.ajax({
            type: 'GET',
            url: '/',
            success: function(response) {
                document.location.href="/";
            }
        });
    }
</script>
</html>