<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <div class="headerdiv">
        <header class="header1 lead">
        <img class="img" src="https://static.vecteezy.com/system/resources/previews/012/377/746/original/clean-energy-icon-sign-symbol-png.png" alt="logo">
        Energy Watch
        <img class="imgUT" src="https://www.utwente.nl/logo-stacked.png" alt="UT logo">
        </header>
    </div>
    <div style="padding-top: 150px">
        <button onclick="goHome()" class="myButton">Home</button>
        <h1>Energy consumption overview: <var id="filename"></var></h1>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
        <script>
            const data = JSON.parse('{{ data | safe }}')
            const xValues1 = data["xValues1"]
            const xValues2 = data["xValues2"]
            const yValues1 = data["yValues1"]
            const yValues2 = data["yValues2"]
            document.getElementById("filename").innerHTML = data["file"];
            {# todo way charts are visualized has to change, to be done when output of algorithm is determined #}
            new Chart("myChart", {
              type: "line",
              data: {
                labels: xValues1,
                datasets: [{
                  label: "phase 1 power",
                  backgroundColor:"#00693E",
                  borderColor: "#00693E",
                  data: yValues1
                }]
              },
              options: {
                plugins: {
                    legend: {
                        display: true,
                        labels: {
                            real_power: '#00693E'
                        }
                    }
                    }
                }
            });
            new Chart("myChart2", {
              type: "line",
              data: {
                labels: xValues2,
                datasets: [{
                  label: "phase 2 power",
                  backgroundColor:"#32C60C",
                  borderColor: "#32C60C",
                  data: yValues2
                }]
              },
              options: {
                plugins: {
                    legend: {
                        display: true,
                        labels: {
                            real_power: '#32C60C'
                        }
                    }
                    }
                }
            });
        </script>
    </div>
  <footer class="footer">
    <p class="centered">© Sustainable Energy Behavior Group 2, 2023</p>
  </footer>
</body>
<script>
    function goHome() {
        $.ajax({
            type: 'GET',
            url: '/',
            success: function(response) {
                document.location.href="/";
            }
        });
    }
</script>
<style>
@import url('https://fonts.cdnfonts.com/css/space-grotesk');
</style>
</html>